.sx__calendar-wrapper {
  ul {
    list-style: none;
    padding: 0;
  }

  input,
  button {
    font-family: inherit;
    outline: none;
  }

  button {
    background-color: inherit;
    outline: 0;
    border: none;
    cursor: pointer;
  }
}
