.sx__calendar-wrapper,
.sx__date-picker-wrapper,
.sx__date-picker-popup {
  ul {
    list-style: none;
    padding: 0;
  }

  input,
  button {
    font-family: inherit;
    outline: none;
  }
}

.sx__button {
  background-color: inherit;
  outline: 0;
  border: none;
  cursor: pointer;
}
