body {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }
}

#app {
  width: 400px;
  max-width: 100%;
  margin: 300px auto 0;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
}

#calendar {
  padding: 1rem;
  height: 90vh;
  font-family: 'Open Sans', sans-serif;
  height: 700px;
  width: 1000px;
}

@media (width <=699px) {
  #calendar {
    height: 100vh;
    padding: 0;
  }
}

.is-dark {
  background-color: var(--sx-color-background);
  color: #fff;
}

.is-dark #theme-toggle {
  background-color: var(--sx-color-background);
  color: #fff;
}
