body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }
}

#app {
  width: 400px;
  max-width: 90%;
  margin: 300px auto 0;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
}

#calendar {
  padding: 1rem;
  height: 90vh;
  max-height: 900px;
  font-family: 'Open Sans', sans-serif;

  /* max-height: 700px; */

  /* max-width: 900px; */
}

@media (width <=699px) {
  #calendar {
    height: 100vh;
    padding: 1rem;
  }
}

.is-dark {
  background-color: var(--sx-color-background);
  color: #fff;
}

.is-dark #theme-toggle {
  background-color: var(--sx-color-background);
  color: #fff;
}

.input-wrapper {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
}

.input-wrapper button {
  background-color: #1c1b1f;
  color: #fff;
}
