.sx__month-week {
  border-top: var(--sx-border);
  flex: 1;
  display: flex;
}

.sx__month-day {
  padding: var(--sx-spacing-padding2) 0;
  flex: 1;

  &:not(:last-child) {
    border-right: var(--sx-border);
  }
}

.sx__month-day--dragover {
  background-color: var(--sx-color-surface-bright);
}

.sx__month-day-header {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.sx__month-day-header-day-name {
  font-size: 11px;
  text-transform: uppercase;
  color: var(--sx-color-neutral);
}

.sx__month-day-header-date {
  font-size: var(--sx-font-extra-small);
}

.sx__month-day-events-more {
  width: calc(100% - 10px); // CORRELATION ID: 2 (10px subtracted from width)
  font-size: var(--sx-font-extra-small);
  color: var(--sx-color-neutral);
  margin: var(--sx-spacing-padding1) 0;
  padding: var(--sx-spacing-padding1);
  border-radius: var(--sx-rounding-extra-small);
  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  &:hover {
    background-color: var(--sx-color-surface-container);
    color: var(--sx-color-on-surface);
  }
}
