/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6750A4;
  --ifm-color-primary-dark: #5d4794;
  --ifm-color-primary-darker: #4f3d7e;
  --ifm-color-primary-darkest: #3e3163;
  --ifm-color-primary-light: #7a5db0;
  --ifm-color-primary-lighter: #8c6fc0;
  --ifm-color-primary-lightest: #a38bd1;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  /* choose a lighter equivalent for #6750A4 */
  --ifm-color-primary: #D0BCFF;
  --ifm-color-primary-dark: #bda9ff;
  --ifm-color-primary-darker: #a48dff;
  --ifm-color-primary-darkest: #7e6cff;
  --ifm-color-primary-light: #d9c2ff;
  --ifm-color-primary-lighter: #e3d5ff;
  --ifm-color-primary-lightest: #f0eaff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.hero--primary {
  flex: 1;
}
