@use '../../theme/mixins' as mixins;

.calendar-demo {
  padding: 1rem;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem 0 1rem;
  }

  .calendar-demo-text {
    margin-bottom: 2rem;
  }
}

.calendar-wrapper {
  height: 700px;

  @include mixins.mobile-screens {
    height: 600px;
  }
}

.calendar-demo-code {
  margin-bottom: 2rem;
}
