

.landingPage {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    min-height: calc(100vh - var(--nextra-navbar-height) - 165px);
}

.landingPageBG {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    background-image: url('../../assets/pattern_plus.png');
    background-repeat: repeat;
    opacity: 0.05;
}

.landingPage h1 {
    max-width: 700px;
    font-size: 3rem;
    font-weight: 700;
    margin: 1rem 0;
    margin-top: 2rem;
}

.headingGradient {
    background: linear-gradient(to right, #deccfa 0%, #6750a4 100%);
    text-shadow: 0 0 90px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    .dark & {
        background: linear-gradient(to left, #deccfa 0%, #6750a4 100%);
        text-shadow: 0 0 90px rgba(0, 0, 0, 0.3);
        -webkit-background-clip: text;
    }
}

.calendarWrapper {
    height: 700px;
    max-height: 700px;
}

.landingPageActions {
    display: flex;
    gap: 1rem;
    margin-bottom: 4rem;
}

/* create a smooth looking landing page button */
.landingPageAction {
    font-size: 1.125rem;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    color: #fff;
    font-weight: 600;
    transition: all 0.2s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.landingPageAction:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.buttonPrimary {
    background: linear-gradient(to right, #6750a4 50%, #8c6fb7 100%);
    color: #fff;
}

.buttonOutlined {
    background: transparent;
    color: #6750a4;
    border: 2px solid #6750a4;

    .dark & {
        color: #d0bcff;
        border-color: #d0bcff;
    }
}

.landingPageImage {
    margin-bottom: 4rem;
}

.light {
    .landingPageImage--light {
        display: block;
    }

    .landingPageImage--dark {
        display: none;
    }
}

.dark {
    .landingPageImage--light {
        display: none;
    }

    .landingPageImage--dark {
        display: block;
    }
}

.landingPageCards {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}