.sx__date-picker__month-view-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.sx__date-picker__month-view-header__month-year {
  font-size: 1.5rem;
  font-weight: 300;
}

.sx__date-picker__chevron-wrapper {
  position: relative;
  border-radius: 50%;
  min-height: 2.5rem;
  min-width: 2.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 0;

  &:hover {
    background-color: var(--sx-color-surface-dim);
  }

  &:active {
    background-color: var(--sx-internal-color-gray-rippe-background);
  }

  .sx__date-picker__chevron {
    position: absolute;
    top: 50%;
    width: 0.5rem;
    height: 0.5rem;
    border-width: 0.2rem 0.2rem 0 0;
    border-style: solid;
    border-color: var(--sx-color-text);
  }
}

.sx__date-picker__chevron--previous {
  left: calc(50% + 0.125rem);
  transform: translate(-50%, -50%) rotate(225deg);
}

.sx__date-picker__chevron--next {
  left: calc(50% - 0.125rem);
  transform: translate(-50%, -50%) rotate(45deg);
}
