@use './shared' as *;

.sx__date-picker__week {
  @include date-picker-month-row;
}

.sx__date-picker__day {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;

  &:hover {
    background-color: var(--sx-color-surface-dim);
  }
}
