.frameworkButton {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(45deg, rgba(79, 63, 63, 8%), #fff, rgba(255, 255, 255, 4%));
}
