@import 'time-axis';
@import 'week-day';
@import 'date-axis';
@import 'week-day-event';

:root {
  --sx-week-grid-height: 0;
  --sx-time-axis-height: 0;
  --sx-week-grid-hour-height: 0;
  --sx-week-grid-offset-top: 0;
}
