.sx__time-grid-event {
  width: calc(100% - 10px);
  padding: var(--sx-spacing-padding1);
  position: absolute;
  border-radius: var(--sx-rounding-extra-small);
  font-size: var(--sx-font-extra-small);
  overflow: hidden;
  user-select: none;

  &.is-event-copy {
    opacity: 0.5;
    box-shadow: var(--sx-box-shadow-level3);
    z-index: 1;
    transition: transform 0.15s ease-in-out;
  }
}

.sx__time-grid-event-inner {
  position: relative;
  height: 100%;
  width: 100%;
}

.sx__time-grid-event-resize-handle {
  position: absolute;
  width: 100%;
  bottom: 0;
  cursor: ns-resize;
  height: clamp(10px, 20px, 50%);
}

.sx__time-grid-event-title {
  font-weight: 600;
}

.sx__time-grid-event-time,
.sx__time-grid-event-people {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.sx__event { 
  touch-action: none; 
}

.sx__event-icon {
  min-width: 15px;
  min-height: 15px;
  max-width: 15px;
  max-height: 15px;
  margin-inline-end: var(--sx-spacing-padding2);
}
