.sx__time-grid-day {
  position: relative;
  width: 100%;
  height: 100%;
  border-left: var(--sx-border);
}

button.sx__time-grid-day__hidden-events-top-indicator,
button.sx__time-grid-day__hidden-events-bottom-indicator {
  z-index: 1;
  position: absolute;
  text-align: center;
  font-size: 0.85rem;
  cursor: pointer;
  color: var(--sx-color-neutral);
  background-color: var(--sx-color-background);
}

button.sx__time-grid-day__hidden-events-top-indicator {
  border-top: 3px solid var(--sx-color-primary);
}

button.sx__time-grid-day__hidden-events-bottom-indicator {
  border-bottom: 3px solid var(--sx-color-primary);
}
