.sx__week-day-event {
  width: 100%;
  padding: var(--sx-spacing-padding1);
  position: absolute;
  border-radius: var(--sx-rounding-extra-small);
  background-color: var(--sx-color-primary-container);
  color: var(--sx-color-on-primary-container);
  border-left: 4px solid var(--sx-color-primary);
  font-size: var(--sx-font-extra-small);
}

.sx__week-day-event-title {
  font-weight: 600;
}
