.tabButtons {
  display: flex;
  gap: 50px;

  .rs-radio-group-picker .rs-radio-checked .rs-radio-checker>label {
    border-color: var(--sx-color-primary);
    color: var(--sx-color-primary);
  }

  .rs-radio-group-picker .rs-radio-checker>label:active, .rs-radio-group-picker .rs-radio-checker>label:hover {
    color: var(--sx-color-tertiary);
  }
}

.tabButtons__button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: var(--sx-internal-color-text);
  cursor: pointer;
  transition: color 0.3s;
  border-radius: 10px;

  &:hover {
    color: var(--sx-color-primary);
  }

  &.is-active {
    background-color: #1c1b1b;
    color: #efecec;
  }
}
