.sx__date-picker-popup {
  position: fixed;
  z-index: 1;
  top: calc(100% + 1px); // 1px to account for outline
  width: 20.75rem;
  max-width: 500px;
  max-height: 400px;
  overflow: scroll;
  box-shadow: var(--sx-box-shadow-level3);
  padding: var(--sx-spacing-modal-padding);
  background-color: var(--sx-color-background);

  .is-dark & {
    background-color: var(--sx-color-surface-container-high);
  }
}
