.sx__date-picker-popup {
  position: absolute;
  top: calc(100% + 1px); // 1px to account for outline
  width: 20.75rem;
  max-width: 500px;
  max-height: 400px;
  overflow: scroll;
  box-shadow: var(--sx-box-shadow-level3);
  padding: var(--sx-spacing-modal-padding);
  background-color: var(--sx-color-background);

  .is-dark & {
    background-color: var(--sx-color-surface-container-high);
  }

  $top-placement-bottom-value: calc(100% + 1rem);

  &.bottom-end {
    left: auto;
    right: 0;
    transform: translateX(0);
  }

  &.top-start {
    top: auto;
    bottom: $top-placement-bottom-value;
    left: 0;
    transform: translateX(0);
  }

  &.top-end {
    inset: auto 0 $top-placement-bottom-value auto;
    transform: translateX(0);
  }
}
