.sx__date-input-wrapper {
  position: relative;
}

.sx__date-input-chevron {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  transition: transform 0.2s ease-in-out;

  .sx__date-input--active & {
    transform: translateY(-50%) rotate(180deg);
  }
}

.sx__date-input {
  font-size: 1rem;
  padding: var(--sx-spacing-padding4);
  border: 1px solid var(--sx-color-outline-variant);
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  .sx__date-input--active & {
    border-color: var(--sx-color-primary);
    outline: 1px solid var(--sx-color-primary);
  }
}

.sx__date-input-label {
  position: absolute;
  top: 0;
  left: 1em;
  padding: 0 0.5rem;
  background-color: var(--sx-color-background);
  font-size: 0.75rem;
  color: var(--sx-color-neutral);
  line-height: 1rem;
  transform: translateY(-50%) translateX(-0.5rem);
  transition: transform 0.2s ease-in-out;
  pointer-events: none;

  .sx__date-input--active & {
    color: var(--sx-color-primary);
  }
}
