.sx__date-picker-popup {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%);
  width: 300px; // TODO: change
  max-height: 400px;
  overflow: scroll;
  box-shadow: var(--sx-box-shadow-thin);
  padding: 0.5em;
}

.sx__date-picker__month-view {
  .sx__date-picker__month-view-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @mixin date-picker-month-row {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 0.5em;

    span {
      flex: 1;
    }
  }

  .sx__date-picker__day-names {
    @include date-picker-month-row;
  }

  .sx__date-picker__week {
    @include date-picker-month-row;
  }
}
