.sx__date-picker__years-view {
  margin: 0;
}

.sx__date-picker__years-accordion__expand-button {
  width: 100%;
  border: 0;
  border-bottom: var(--sx-border);
  border-radius: 0;
  background-color: transparent;
  font-size: 1rem;
  padding: 1em;
  transition: background-color 0.2s ease-in-out;

  .sx__is-expanded & {
    background-color: var(--sx-color-surface-container);
    border-bottom: 0;
  }

  &:hover {
    background-color: var(--sx-color-surface-dim);
  }
}

.sx__date-picker__years-view-accordion__panel {
  display: flex;
  flex-wrap: wrap;
}

.sx__date-picker__years-view-accordion__month {
  flex: 1 0 33.3333%;
  background-color: transparent;
  border: 0;
  font-size: 0.9rem;
  padding: 0.5em 0;
  border-radius: 25px;

  &:hover {
    background-color: var(--sx-color-primary);
    color: var(--sx-color-on-primary);
  }
}
