.sx__event-modal {
  position: absolute;
  width: 400px;
  height: 250px;
  padding: var(--sx-spacing-padding3);
  background-color: var(--sx-color-background);
  box-shadow:
    0 24px 38px 3px rgb(0 0 0 / 14%),
    0 9px 46px 8px rgb(0 0 0 / 12%),
    0 11px 15px -7px rgb(0 0 0 / 20%);
  border-radius: var(--sx-rounding-extra-large);
  z-index: 1;
}
