.sx__event-modal {
  position: fixed;
  top: var(--sx-event-modal-top);
  left: var(--sx-event-modal-left);
  width: 400px;
  height: 250px;
  padding: var(--sx-spacing-padding3);
  background-color: var(--sx-color-background);
  box-shadow:
    0 24px 38px 3px rgb(0 0 0 / 14%),
    0 9px 46px 8px rgb(0 0 0 / 12%),
    0 11px 15px -7px rgb(0 0 0 / 20%);
  border-radius: var(--sx-rounding-small);
  z-index: 1;
  animation: animate-dialog;
  animation-duration: 0.3s;
}

// write animation for sliding in from top once the modal is open
@keyframes animate-dialog {
  from {
    opacity: 0;
    transform: translateX(var(--sx-event-modal-animation-start));
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
