:root {
  --sx-box-shadow-level3: 0 3px 6px 0 rgb(0 0 0 / 16%),
    0 3px 6px 0 rgb(0 0 0 / 23%);

  // Border radius variables: see https://m3.material.io/styles/shape/shape-scale-tokens
  --sx-rounding-small: 8px;
  --sx-rounding-extra-large: 28px;
  --sx-border: 1px solid var(--sx-color-outline-variant);
}

.is-dark {
  --sx-border: 1px solid transparent;
}
