html {
  --sx-box-shadow-level3: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
  --sx-form-field-border: 1px solid var(--sx-color-divider);

  // Border radius variables: see https://m3.material.io/styles/shape/shape-scale-tokens
  --sx-rounding-extra-large: 28px;
}
