:root {
  --sx-calendar-header-input-font-size: clamp(12px, 0.875rem, 28px);
  --sx-calendar-header-popup-z-index: 3;
  --sx-calendar-week-grid-padding-left: 75px;

  .sx__date-picker-popup.is-teleported {
    z-index: 3;
  }
}
