:root {
  --sx-color-primary: #6750a4;
  --sx-color-on-primary: #fff;
  --sx-color-primary-container: #eaddff;
  --sx-color-on-primary-container: #21005e;
  --sx-color-secondary: #625b71;
  --sx-color-on-secondary: #fff;
  --sx-color-secondary-container: #e8def8;
  --sx-color-on-secondary-container: #1e192b;
  --sx-color-tertiary: #7d5260;
  --sx-color-on-tertiary: #fff;
  --sx-color-tertiary-container: #ffd8e4;
  --sx-color-on-tertiary-container: #370b1e;
  --sx-color-surface: #fef7ff;
  --sx-color-surface-dim: #ded8e1;
  --sx-color-surface-bright: #fef7ff;
  --sx-color-on-surface: #1c1b1f;
  --sx-color-surface-container: #f3edf7;
  --sx-color-surface-container-low: #f7f2fa;
  --sx-color-surface-container-high: #ece6f0;
  --sx-color-background: #fff; // deviation from material 3, which would be #FEF7FF
  --sx-color-on-background: #1c1b1f;
  --sx-color-outline: #79747e;
  --sx-color-outline-variant: #c4c7c5;
  --sx-color-shadow: #000;
  --sx-color-surface-tint: #6750a4;
  --sx-color-neutral: var(--sx-color-outline);
  --sx-color-neutral-variant: var(--sx-color-outline-variant);

  // internally defined colors, not belonging to the material design spec
  --sx-internal-color-gray-ripple-background: #e0e0e0;
  --sx-internal-color-light-gray: #fafafa;
  --sx-text-color: #000;
}

.is-dark {
  --sx-color-primary: #d0bcff;
  --sx-color-on-primary: #371e73;
  --sx-color-primary-container: #4f378b;
  --sx-color-on-primary-container: #eaddff;
  --sx-color-secondary: #ccc2dc;
  --sx-color-on-secondary: #332d41;
  --sx-color-secondary-container: #4a4458;
  --sx-color-on-secondary-container: #e8def8;
  --sx-color-tertiary: #efb8c8;
  --sx-color-on-tertiary: #492532;
  --sx-color-tertiary-container: #633b48;
  --sx-color-on-tertiary-container: #ffd8e4;
  --sx-color-surface: #141218;
  --sx-color-surface-dim: #141218;
  --sx-color-surface-bright: #3b383e;
  --sx-color-on-surface: #e6e1e5;
  --sx-color-surface-container: #211f26;
  --sx-color-surface-container-low: #1d1b20;
  --sx-color-surface-container-high: #2b2930;
  --sx-color-background: #141218;
  --sx-color-on-background: #e6e1e5;
  --sx-color-outline: #938f99;
  --sx-color-outline-variant: #444746;
  --sx-color-shadow: #000;
  --sx-color-surface-tint: #d0bcff;

  // internally defined colors, not belonging to the material design spec
  --sx-text-color: #fff;
}
