// Spec: https://m3.material.io/foundations/layout/understanding-layout/spacing#5893f0f7-ac4a-41fc-a109-00f0daafd82a
@function mdPadding($increments: 1) {
  @return $increments * 4px;
}

:root {
  --sx-spacing-padding1: #{mdPadding()};
  --sx-spacing-padding2: #{mdPadding(2)};
  --sx-spacing-padding3: #{mdPadding(3)};
  --sx-spacing-padding4: #{mdPadding(4)};
  --sx-spacing-padding6: #{mdPadding(6)};

  --sx-spacing-modal-padding: #{mdPadding(4)};
}
