.sx__time-input {
  width: 100px;
  font-size: 2rem;
  background-color: #f1f0f0;
  color: var(--sx-color-text);
  border-radius: var(--sx-rounding-small);
  border: none;
  padding: var(--sx-spacing-padding3);
  text-align: center;
}
