.sx__calendar-wrapper {
  height: 100%;
  display: flex;
  color: var(--sx-internal-color-text);

  * {
    box-sizing: border-box;
  }
}

.sx__calendar {
  position: relative;
  flex: 1;
  height: 100%;
  border: var(--sx-border);
  border-radius: var(--sx-rounding-small);
  display: flex;
  flex-flow: column;
  background-color: var(--sx-color-background);
  overflow: hidden;
}

.sx__view-container {
  position: relative;
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.sx__slide-left {
  animation: sx-slide-left 0.3s ease-out; // CORRELATION ID: 3
}

@keyframes sx-slide-left {
  0% {
    transform: translateX(8%);
    filter: blur(0.25rem);
    opacity: 0.1;
  }

  100% {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
  }
}

.sx__slide-right {
  animation: sx-slide-right 0.3s ease-out; // CORRELATION ID: 3
}

@keyframes sx-slide-right {
  0% {
    transform: translateX(-8%);
    filter: blur(0.25rem);
    opacity: 0.1;
  }

  100% {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
  }
}
