.sx__calendar-wrapper {
  height: 100%;
  display: flex;
  color: var(--sx-internal-color-text);
}

.sx__calendar {
  position: relative;
  flex: 1;
  height: 100%;
  border: var(--sx-border);
  border-radius: var(--sx-rounding-small);
  display: flex;
  flex-flow: column;
  background-color: var(--sx-color-background);
  overflow: hidden;
}

.sx__view-container {
  position: relative;
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.sx__slide-left {
  animation: slide-left 0.2s ease-out;
}

@keyframes slide-left {
  0% {
    transform: translateX(10%);
    opacity: 0.5;
  }

  75% {
    transform: translateX(2%);
    opacity: 0.6;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.sx__slide-right {
  animation: slide-right 0.2s ease-out;
}

@keyframes slide-right {
  0% {
    transform: translateX(-10%);
    opacity: 0.5;
  }

  75% {
    transform: translateX(-2%);
    opacity: 0.6;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
