.sx__chevron-wrapper {
  position: relative;
  border-radius: 50%;
  min-height: 2.5rem;
  min-width: 2.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 0;

  &:hover {
    background-color: var(--sx-color-surface-dim);
  }

  &:active {
    background-color: var(--sx-internal-color-gray-ripple-background);
  }

  .sx__chevron {
    position: absolute;
    top: 50%;
    width: 0.5rem;
    height: 0.5rem;
    border-width: 0.2rem 0.2rem 0 0;
    border-style: solid;
    border-color: var(--sx-color-text);
  }
}

.sx__chevron--previous {
  left: calc(50% + 0.125rem);
  transform: translate(-50%, -50%) rotate(225deg);
}

.sx__chevron--next {
  left: calc(50% - 0.125rem);
  transform: translate(-50%, -50%) rotate(45deg);
}