@use '../theme/mixins' as mixins;

.logo-lg {
  @include mixins.smaller-screens {
    display: none;
  }

  @include mixins.large-screens {
    display: block;
  }
}

.logo-sm {
  @include mixins.mobile-screens {
    display: block;
  }

  @include mixins.large-screens {
    display: none;
  }
}

.dark .logo-light {
  display: none;
}

.dark .logo-dark {
  display: block;
}

.light .logo-light {
  display: block;
}

.light .logo-dark {
  display: none;
}
