.mainWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  align-items: center;
  flex: 1;
}

@media (width <= 996px) {
  .mainWrapper {
    margin-top: 50px;
  }

  .datePicker {
    width: 90%;
  }
}
