@use 'mixins' as mixins;

html {
  .main {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    overflow: hidden;
  }

  scroll-behavior: smooth;
}

.heading-font {
  font-family: 'Podkova Variable', serif;
  font-weight: 700;
}

#__next {
  :has(.appCalendarWrapper) {
    .nextra-toc {
      display: none;
    }
  }
}

.cookieConsentContent {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  gap: 2rem;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .cookieConsentContent {
    flex-direction: column;
    align-items: start;
  }
}

.page-wrapper {
  max-width: 90rem;
  min-height: calc(100vh - var(--nextra-navbar-height) - 165px);
  margin: 0 auto;

  input {
    outline-offset: unset;
  }

  input:focus-visible {
    --tw-ring-offset-shadow: unset;
    --tw-ring-shadow: unset;
    --tw-ring-opacity: initial;
    --tw-ring-color: unset;
    --tw-ring-offset-width: unset;
    --tw-ring-offset-color: unset;

    box-shadow: unset;
    outline-offset: unset;
  }

  &.premiumPage {
    max-width: 100vw;
  }
}

.header-logo {
  &:hover {
    opacity: 0.75;
  }
}

.logo-lg {
  @include mixins.smaller-screens {
    display: none;
  }

  @include mixins.large-screens {
    display: block;
  }
}

.logo-sm {
  @include mixins.mobile-screens {
    display: block;
  }

  @include mixins.large-screens {
    display: none;
  }
}

.dark .logo-light {
  display: none;
}

.dark .logo-dark {
  display: block;
}

.light .logo-light {
  display: block;
}

.light .logo-dark {
  display: none;
}

.footer-theme-switch {
  button {
    padding: 0;
  }
}

.sx-react-calendar-wrapper {
  :has(.sx__resource-view) {
    .sx__is-calendar-small .sx__today-button {
      display: initial;
    }
  }
}
