@use '../../../theme/mixins' as mixins;

.landing-page-card {
  display: grid;
  width: 300px;
  grid-template-areas:
    'icon title'
    'icon description'
    'icon button';
  grid-template-rows: 1fr 2fr;


  @include mixins.mobile-screens {
    width: 100%;
    height: auto;
    padding: 0.5rem 1.5rem;
  }

  .landing-page-card-icon {
    grid-area: icon;
    margin-top: 5px;
    background: linear-gradient(145deg, var(--sx-color-primary), var(--sx-color-primary-container));
    border-radius: 10%;
    padding: 6px;
    width: 40px;
    height: 40px;
  }

  h2 {
    grid-area: title;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    margin-left: 1rem;
    text-align: left;
    color: #000;

    .dark & {
      color: rgb(255 255 245 / 86%);
    }
  }

  p {
    grid-area: description;
    text-align: left;
    margin-left: 1rem;
    color: #645d5d;

    .dark & {
      color: rgb(235 235 245 / 60%);
    }
  }
}
