.sx__current-time-indicator {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #f00;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    left: -5px;
    top: -4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f00;
  }
}

.sx__current-time-indicator-full-week {
  width: calc(100% - var(--sx-calendar-week-grid-padding-left));
  position: absolute;
  inset: 0 0 0 var(--sx-calendar-week-grid-padding-left);
  height: 2px;
  background-color: rgb(255 0 0 / 38%);
}
