.sx__time-grid-resource-axis {
  // Add 1px to match the visual alignment with the time grid below,
  // which has a left border that the resource axis doesn't have
  padding-left: calc(var(--sx-calendar-week-grid-padding-left) + 1px);
  display: flex;
}

.sx__time-grid-resource-axis-day {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.sx__time-grid-resource-axis-header {
  flex: 1;
  padding: var(--sx-spacing-padding2);
  border-bottom: var(--sx-border);
  font-weight: 500;
  font-size: var(--sx-font-small);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sx-color-background);
}

.sx__time-grid-resource-column {
  // Add right border to align with resource axis headers above
  // Position it 1px to the left to compensate for resource axis +1px padding-left
  position: relative;

  &::before {
    content: '';
    position: absolute;
    right: -1px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--sx-color-outline-variant);
    z-index: 1;
  }

  // Hide border for the last resource in the last day
  &[data-is-last-resource-in-last-day='true']::before {
    display: none;
  }
}
