.sx__month-agenda-day-names {
  display: flex;
  padding: var(--sx-spacing-padding2) 0;
  font-size: var(--sx-font-extra-small);
  color: var(--sx-color-neutral);

  &.sx__has-week-numbers {
    padding-inline-start: 1.5rem;
  }
}

.sx__month-agenda-day-name {
  flex: 1;
  display: flex;
  justify-content: center;
}
