@use '../../../theme/mixins' as mixins;

.landing-page-card {
  width: 300px;
  height: 250px;
  padding: 2rem;
  border-radius: 1rem;
  background: #f6f6f7;
  transition: all 0.2s ease;
  color: rgb(60 60 67);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mixins.mobile-screens {
    width: 100%;
    height: auto;
    padding: 1.5rem;
  }

  .dark & {
    background: #252529;
  }

  .landing-page-card-icon {
    margin-bottom: 1rem;

    .dark & {
      filter: invert(1);
    }
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.5rem;

    .dark & {
      color: rgb(255 255 245 / 86%);
    }
  }

  p {
    text-align: center;

    .dark & {
      color: rgb(235 235 245 / 60%);
    }
  }
}
