name: Record snapshots
on: workflow_dispatch

jobs:
  chrome:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build lib
        run: npm run build
      - name: Build test pages
        run: npm run build:e2e
      - name: Record snapshots
        uses: cypress-io/github-action@v4
        with:
          browser: chrome
          start: npm run serve
          env: type=base
          config: screenshotsFolder=cypress/snapshots/linux/base
      - uses: actions/upload-artifact@v3
        if: success()
        with:
          name: visual-regression-diff
          path: cypress/snapshots
          retention-days: 14
