name: End-to-end tests
on:
  pull_request:
    paths:
      - 'packages/**'
  push:
    branches:
      - master

jobs:
  chrome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build lib
        run: npm run build
      - name: Build test pages
        run: npm run build:e2e
      - uses: cypress-io/github-action@v4
        with:
          browser: chrome
          start: npm run serve
          env: type=actual # for screenshot testing
          config: screenshotsFolder=cypress/snapshots/linux/actual
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: visual-regression-diff
          path: cypress/snapshots
          retention-days: 14
